/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
.fam{
  border: 4px double;
  color:purple;
  
}
.num{
  color:purple;
  border: solid 5px white;
  display: flex;
  flex-direction:column;
  width: 90px;
  height: auto;
  
  
}

.num1{
  color:purple;
  display: flex;
  flex-direction:row;
      
}

.grid_container{
  display: grid;
  border: 2px solid purple;
}

.griditem{
    background-color: black;
    border: 2px solid purple;
}

.layout{
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 100px;
  
}

.items {
  flex-basis: 400px;
  border: solid white 5px;
}

.one{
  flex-direction: column;
}

